.loading {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.loading > div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -12.5px;
}
